* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
  /* background-color: aqua; */
  gap: 16px;
  /* padding: 16px; */
}

table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

.form {
  margin-bottom: 16px;
}